<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
<a class="addthis_button_rss_follow" addthis:userid="<%= feed_path %>"</a>
<a class="addthis_button_reddit"></a>
<a class="addthis_button_facebook"></a>
<a class="addthis_button_twitter" tw:text="<%= request.protocol+request.host_with_port+request.fullpath %>"></a>
<a class="addthis_button_pinterest_share"></a>
<a class="addthis_button_google_plusone_badge"></a>
<a class="addthis_button_email"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-51266c335d518bed"></script>
<!-- AddThis Button END -->
